<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>周靖淳的博客</title>
    <script src="../js/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>

<body>
<div class="container">
    <div class="page-header">
        <h1>周靖淳
            <small>这是我的秘密❀园</small>
        </h1>
        <ul class="list-group">
            <% data.forEach(function(e){ %>
                <li class="list-group-item">
                    <a href="/p?_id=<%= e._id %>">
                        <h3>
                            <%= e.tic %>
                        </h3>
                    </a>
                    <p>日期 :
                        <%= e.date%>
                    </p>
                    <p>
                        <%= e.intro%>
                    </p>
                </li>
            <% }) %>

        </ul>
    </div>
</div>
</body>
</html>